---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/oauth/access_token?client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","token_type":"bearer"}'
  recorded_at: Mon, 31 Oct 2016 12:06:10 GMT
- request:
    method: get
    uri: https://graph.facebook.com/150352985174571?access_token=<CLIENT_ID>%7C0WiNEz4rbcf5Ki0Ge4vR7m4Wlts&fields=id,name,feed%7Bname,message,updated_time,created_time,attachments%7Btitle,description,url,media%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"043549554d2fa935a203a4c0b3117bcd49de4f4a"'
      Facebook-Api-Version:
      - v2.7
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"150352985174571","name":"Web Service Development \u0040 NTHU","feed":{"data":[{"name":"seriot.ch
        - Parsing JSON is a Minefield \ud83d\udca3","message":"From the article: \"JSON
        is not a data format you can rely on blindly [...] edge cases and maliciously
        crafted payloads can cause bugs, crashes and denial of services, mainly because
        JSON libraries rely on specifications that have evolved over time and that
        left many details loosely specified or not specified at all.\"  Long story
        short: it seems XML will never die :D (actually, parsing XML is even worse...)","updated_time":"2016-10-28T02:09:39+0000","created_time":"2016-10-27T14:46:58+0000","id":"150352985174571_527664860776713","attachments":{"data":[{"title":"seriot.ch
        - Parsing JSON is a Minefield \ud83d\udca3","description":"JSON is the de
        facto standard when it comes to (un)serialising and exchanging data in web
        and mobile programming. But how well do you really know JSON? We''ll read
        the specifications and write test cases together. We''ll test common JSON
        libraries against our test cases. I''ll show that JSON is not the...","url":"http:\/\/www.facebook.com\/l.php?u=http\u00253A\u00252F\u00252Fseriot.ch\u00252Fparsing_json.html&h=8AQHWsHc5&s=1&enc=AZMtD2PiBEpq8XJBc9Qi2DAs7YF8QacbcdHMflMCXphNrb47c3hnSV1oOEkc2TVm9hTPjDG9wuZwDj0VRz6fHYxK","media":{"image":{"height":720,"src":"https:\/\/external.xx.fbcdn.net\/safe_image.php?d=AQBafep0D8nqgNS7&w=720&h=720&url=http\u00253A\u00252F\u00252Fseriot.ch\u00252Fjson\u00252Fpruned_results.png&cfs=1","width":720}}}]}},{"name":"GitHub
        Dumps REST Calls for Facebook''s GraphQL - The New Stack","message":"Github''s
        adoption of GraphQL for APIs, over RESTful services, might be the tipping
        point that makes GraphQL ubiquitous. From what little exposure I have to it
        (thanks to YenTing and Yen-Nan at Cardinal Blue), it seems we are taking the
        complexity and burden of APIs away from API consumers, and putting it squarely
        at the feet of API providers. That means [...]
- request:
    method: get
    uri: https://graph.facebook.com/150352985174571_517105121832687?access_token=<CLIENT_ID>%7C0WiNEz4rbcf5Ki0Ge4vR7m4Wlts&fields=name,message,updated_time,created_time,attachments%7Btitle,description,url,media%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"66ca44d30ccc0f28ef2b21b7d4965229397975e7"'
      Facebook-Api-Version:
      - v2.7
      Content-Typ[...]
