---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/oauth/access_token?client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","token_type":"bearer"}'
  recorded_at: Thu, 20 Oct 2016 02:09:38 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/150352985174571?access_token=<ACCESS_TOKEN_ESCAPED>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"76e28f8b21d98678b988003cd44891a91248bbf3"'
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"Web Service Development \u0040 NTHU","privacy":"OPEN","id":"150352985174571"}'
  recorded_at: Thu, 20 Oct 2016 02:26:40 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/150352985174571/feed?access_token=<ACCESS_TOKEN_ESCAPED>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"4396c8f062396fd568d8a767e1bcd2d7e7111eeb"'
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"data":[{"message":"https:\/\/m.facebook.com\/story.php?story_fbid=1098448240203391&id=100001146751327","updated_time":"2016-10-13T18:17:23+0000","id":"150352985174571_521137638096102"},{"updated_time":"2016-10-06T08:39:47+0000","id":"150352985174571_518029841740215"},{"message":"A
        little quiz to keep you sharp on programming trends.","updated_time":"2016-10-06T06:51:44+0000","id":"150352985174571_517105121832687"},{"updated_time":"2016-10-06T01:18:12+0000","id":"150352985174571_517701838439682"},{"message":"Up
        and coming languages worth keeping our eyes on.  I''m already a huge fan of
        Crystal and Rust, but the author has convinced me to pay more attention to
        Kotlin and Elm.","updated_time":"2016-09-22T08:12:35+0000","id":"150352985174571_511894255687107"},{"message":"I
        can''t even wrap my head around all the new features Github just released:
        code reviews, kanban boards, and much more.","updated_time":"2016-09-19T09:14:51+0000","id":"150352985174571_509461352597064"},{"message":"http:\/\/vertx.io\/","updated_time":"2016-09-13T20:34:39+0000","id":"150352985174571_508953969314469"},{"story":"\u96f7\u677e\u4e9e
        shared Codecademy''s photo to the group: Web Service Development \u0040 NTHU.","updated_time":"2016-09-13T02:04:20+0000","id":"150352985174571_508631766013356"},{"message":"https:\/\/medium.com\/\u0040ajordens\/scaling-spinnaker-at-netflix-part-1-8a5ae51ee6de#.fubo771g2","updated_time":"2016-09-11T09:14:53+0000","id":"150352985174571_507894159420450"},{"message":"Why
        (and when) we need architecture.","updated_time":"2016-09-08T03:33:06+0000","id":"150352985174[...]
[...]
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/150352985174571_517105121832687?access_token=<ACCESS_TOKEN_ESCAPED>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"13fa446026c0d1f3004c5006d2d3745a9cddf84b"'
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"created_time":"2016-10-04T02:21:25+0000","message":"A little quiz
        to keep you sharp on programming trends.","id":"150352985174571_517105121832687"}'
  recorded_at: Thu, 20 Oct 2016 02:26:42 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/150352985174571_517105121832687/attachments?access_token=<ACCESS_TOKEN_ESCAPED>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"79676731a1e48b846c23490efbc41e15aed01a68"'
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"data":[{"description":"Can you tell Java from JavaScript? Awesome!
        So you are ready to take our ultimate programming challenge.","media":{"image":{"height":490,"src":"https:\/\/external.xx.fbcdn.net\/safe_image.php?d=AQB9saA-D40lNQqm&w=720&h=720&url=http\u00253A\u00252F\u00252Fcdn.tutorialzine.com\u00252Fwp-content\u00252Fuploads\u00252F2014\u00252F06\u00252Fguess-the-programming-language.jpg&cfs=1","width":490}},"target":{"url":"http:\/\/www.facebook.com\/l.php?u=http\u00253A\u00252F\u00252Ftutorialzine.com\u00252F2014\u00252F06\u00252Fguess-the-programming-language\u00252F&h=AAQG_xcpW&s=1&enc=AZMwJy1DCMEKnbCXJjgs7NU-CWIIIxEkOzvuAoBiWtMxDryReGnGb09vw4xFpctg0vLu_YBE0U0Sx-g9v0oo3R13"},"title":"Guess
        the Programming Language | Tutorialzine","type":"share","url":"http:\/\/www.facebook.com\/l.php?u=http\u00253A\u00252F\u00252Ftutorialzine.com\u00252F2014\u00252F06\u00252Fguess-the-programming-language\u00252F&h=AAQG_xcpW&s=1&enc=AZMwJy1DCMEKnbCXJjgs7NU-CWIIIxEkOzvuAoBiWtMxDryReGnGb09vw4xFpctg0vLu_YBE0U0Sx-g9v0oo3R13"}]}'
  recorded_at: Thu, 20 Oct 2016 02:26:42 GMT
- request:
    method: get
    uri: https://graph.facebook.com/150352985174571?access_token=<ACCESS_TOKEN_ESCAPED>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"76e28f8b21d98678b988003cd44891a91248bbf3"'
      Facebook-Api-Version:
      - v2.7
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"Web Service Development \u0040 NTHU","privacy":"OPEN","id":"150352985174571"}'
  recorded_at: Wed, 26 Oct 2016 01:36:24 GMT
- request:
    method: get
    uri: https://graph.facebook.com/150352985174571_517105121832687?access_token=<ACCESS_TOKEN_ESCAPED>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"13fa446026c0d1f3004c5006d2d3745a9cddf84b"'
      Facebook-Api-Version:
      - v2.7
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"created_time":"2016-10-04T02:21:25+0000","message":"A little quiz
        to keep you sharp on programming trends.","id":"150352985174571_517105121832687"}'
  recorded_at: Wed, 26 Oct 2016 01:36:24 GMT
- request:
    method: get
    uri: https://graph.facebook.com/150352985174571_517105121832687/attachments?access_token=<ACCESS_TOKEN_ESCAPED>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"b188a917dae1ca0933c7df8a872ed94458dbd66d"'
      Facebook-Api-Version:
      - v2.7
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"data":[[...]
- request:
    method: get
    uri: https://graph.facebook.com/150352985174571/feed?access_token=<ACCESS_TOKEN_ESCAPED>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"08aa94ff8cea61a2515aaf4fc867eeb03974a43b"'
      Facebook-Api-Version:
      - v2.7
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"data":[{"message":"Github''s a[...]
