---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/oauth/access_token?client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","token_type":"bearer"}'
  recorded_at: Wed, 26 Oct 2016 15:27:10 GMT
- request:
    method: get
    uri: https://graph.facebook.com/150352985174571_517105121832687?access_token=<CLIENT_ID>%7C0WiNEz4rbcf5Ki0Ge4vR7m4Wlts&fields=name,message,updated_time,created_time,attachments%7Btitle,description,url,media%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"19d50dbaf79167345bc921aaef77ff80e2848e94"'
      Facebook-Api-Version:
      - v2.7
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"Guess the Programming Language | Tutorialzine","message":"A
        little quiz to keep you sharp on programming trends.","updated_time":"2016-10-06T06:51:44+0000","created_time":"2016-10-04T02:21:25+0000","attachments":{"data":[{"title":"Guess
        the Programming Language | Tutorialzine","description":"Can you tell Java
        from JavaScript? Awesome! So you are ready to take our ultimate programming
        challenge.","url":"http:\/\/www.facebook.com\/l.php?u=http\u00253A\u00252F\u00252Ftutorialzine.com\u00252F2014\u00252F06\u00252Fguess-the-programming-language\u00252F&h=JAQEbntPH&s=1&enc=AZPb4ZTQ4Snky0r5BRMIRqztG3FnBqqU3NfEGCjQPuaebjlB2HXrlyuLpuM0V0bf556ZS170E8-CTyh18CRTCOWF","media":{"image":{"height":490,"src":"https:\/\/external.xx.fbcdn.net\/safe_image.php?d=AQB9saA-D40lNQqm&w=720&h=720&url=http\u00253A\u00252F\u00252Fcdn.tutorialzine.com\u00252Fwp-content\u00252Fuploads\u00252F2014\u00252F06\u00252Fguess-the-programming-language.jpg&cfs=1","width":490}}}]},"id":"150352985174571_517105121832687"}'
  recorded_at: Wed, 26 Oct 2016 15:28:31 GMT
- request:
    method: get
    uri: https://graph.facebook.com/150352985174571?access_token=<CLIENT_ID>%7C0WiNEz4rbcf5Ki0Ge4vR7m4Wlts&fields=id,name,feed%7Bname,message,updated_time,created_time,attachments%7Btitle,description,url,media%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"6840b00454622437339ea3cea7b2381186033b5d"'
      Facebook-Api-Version:
      - v2.7
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"150352985174571","name":"Web Service Development \u0040 NTHU","feed":{"data":[{"name":"GitHub
        Dumps REST Calls for Facebook''s GraphQL - The New Stack","message":"Github''s
        adoption of GraphQL for APIs, over RESTful services, might be the tipping
        point that makes GraphQL ubiquitous. From what little exposure I have to it
        (thanks to YenTing and Yen-Nan at Cardinal Blue), it seems we are taking the
        complexity and burden of APIs away from API consumers, and putting it squarely
        at the feet of API providers. That means u[...]
